/* Map Container */

.homecover-container-menu{
  background: url('../images/HikingHome.png') center center/cover no-repeat;
  height: 89vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}
.homecover-container-menu > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: -200px;
}

.homecover-container-menu > p {
  margin-top: 10px;
  color: #fff;
  font-size: 32px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}


.map-container-c {
    background-color: #272727;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

 
  /* Leaflet Map Container */
  .leaflet-container-c {
    width: 80%; /* Ensure the Leaflet map container takes full width */
    height: 530px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
    margin-bottom: 10px; /* Add margin-bottom to separate the map from toggles */
  }
  
  /* Toggle Container */
  .toggle-container-c {
    flex-direction: column;
    padding-bottom: 15px;
  }

 .basemap-toggles-c strong {
    color: #ffffff;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    padding-right: 20px;
    padding-top:8px;
  }
 
  /* Basemap Toggles */
  .basemap-toggles-c {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
  }
  
  /* Basemap and GeoJSON Toggle Styling */
  .basemap-toggle-c {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-top: 10px;
    color: #fff;
  }
  
  /* Radio and Checkbox Styling */
  .basemap-toggle-c input[type="radio"] {
    margin-right: 10px;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #555;
    position: relative;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  /* Checked State Styling for Basemap Toggle */
  .basemap-toggle-c input[type="radio"]:checked {
    background-color: #00eeffd6;
  }
  
  /* Styling for After State of Radio and Checkbox */
  .basemap-toggle-c input[type="radio"]:after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0;
    transition: opacity 0.2s;
  }
  
  /* Checked State Styling for After of Radio and Checkbox */
  .basemap-toggle-c input[type="radio"]:checked:after{
    opacity: 1;
  }
  
  /* Font Styling for Basemap and GeoJSON Toggle Text */
  .basemap-toggle-c span{
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: #fff;
    letter-spacing: 0.2px;
  }


  .container-menu-full {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #272727;
    padding-left: 140px;
    padding-top: 25px;

  }
  
  label,.inputFieldCoordinateLabel {
    color: #ffffff;
    margin-right: 10px;
    margin-left: 20px;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    
  }

.inputFieldCoordinateContainer{
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .inputFieldCoordinateWrapper{
    display: flex;
    align-items: center;
    padding-right: 30px;
    flex-direction: column;
  }

  .inputField,
  .inputFieldDist,
  .inputFieldCoordinate{
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #000000;
    background-color: #fffffff4;
    color: #000000;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin-bottom: 10px;
  }

  .radioGroup label {
    color: #000000;
    background-color: #fffffff4;
    display: inline-block;
    margin-right: 30px; /* Adjusted to account for the additional margin */
    margin-left: 20px;
    margin-bottom: 5px; /* Adjusted to account for the additional margin */
    padding: 10px 16px; /* Adjusted to account for the additional margin */
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  .radioGroup label1 {
    color: #ffffff;
    margin-right: 30px;
    margin-left: 20px;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
  }
  .radioGroup input[type="radio"] {
    appearance:none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #555;
    position: relative;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  /* Checked State Styling for Basemap Toggle */
  .radioGroup input[type="radio"]:checked {
    background-color: #ffffff;
    border: 7px solid #32f898;

  }
  
  /* Styling for After State of Radio and Checkbox */
  .radioGroup input[type="radio"]:after{
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.2s;
  }
  
  .submitButton {
    background-color:rgba(0, 216, 235, 0.811);
    font-weight: bold;
    color: rgb(255, 255, 255);
    border: none;
    padding: 13px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 15px;
    width: 200px;
  }
  
  .resetButton {
    background-color: #ff0000;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border: none;
    padding: 13px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 15px;
    width: 200px;
  }

  .coordinates {
    color: #ffffff;
    background-color: #272727;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
  }
  
  .popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Ensure the popup appears on top of other content */
  }
  
  .popup {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }
  
  .popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .popup button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
  }
  
  .popup button:hover {
    background-color: #0056b3;
  }
  
  .successMessage {
    color: #00d274;
    font-size: 18px;
    margin-bottom: 10px;
  }

  .apiMessage {
    font-size: 18px;
    margin: 0;
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 20px;
    line-height: 1.5;
    padding: 15px; /* Adjusted to account for the additional margin */
  }
  
  .apiMessage.success {
    background-color: rgb(0, 210, 116);
    color: white;
    text-align: center;
  }
  
  .apiMessage.error {
    background-color: rgb(255, 53, 53);
    color: white;
    text-align: center;
  }
  
  .tooltip-container {
    position: relative;
  }
  
  .tooltip-icon {
    display: inline-block;
    cursor: pointer;
    color: white;
    font-size: 14px;
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .tooltip-text {
    position: absolute;
    top: 30px; 
    left: 50%; 
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    color: white; /* Color of the tooltip text */
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 8px; 
    z-index: 999; /* Ensure the tooltip appears above other content */
    white-space: nowrap;
  }
  
  .tooltip-text::after {
    content: '';
    position: absolute;
    bottom: 100%; /* Position the arrow at the top */
    left: 50%;
    margin-left: -5px; /* Half of the arrow width */
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.7) transparent; /* Semi-transparent black arrow */
  }
  