.graph-container-dark {
  padding: 5px;
  padding-bottom: 70px;
  background-color: #272727; /* Dark background */
  color: #fff; /* White text for high contrast */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.graph-container-dark .graph-title-dark {
  font-size: 22px;
  margin-bottom: 4px;
  color: #fff; /* White text for title */
}

.graph-container-dark .rv-xy-plot__axis__tick__text {
  fill: #ffffff; /* White text for axis tick labels */
  font-size: 14px;

}

.react-vis-xy-plot-dark {
  margin-top: 20px;
  fill: false;
  display: flex;
}
  