.map-container {
  background-color: #272727;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leaflet-container {
  width: 80%; /* Ensure the Leaflet map container takes full width */
  height: 500px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
  margin-bottom: 20px; /* Add margin-bottom to separate the map from toggles */
}

.toggle-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}
.toggle-text{

  color: #ffffff;
  font-size: 20px;
  font-family: 'Arial', sans-serif;
  font-weight: bold;

}
.geojson-toggles {
  align-items: center;
  display: flex;
  margin-bottom: 10px;
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  color: #fff;
  letter-spacing: 0.2px;
  margin: auto
}

.basemap-toggles{
  display: flex;
  align-items: center;
  padding-bottom: 8px;
}

.basemap-toggles strong {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Arial', sans-serif;
  padding-right: 20px;
}

.geojson-toggles strong {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Arial', sans-serif;
  padding-right: 20px;
}

.basemap-toggle,
.geojson-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-top: 10px;
  color: #fff;
  padding-bottom: 10px;
}

.basemap-toggle input[type="radio"],
.geojson-toggle input[type="checkbox"] {
  margin-right: 10px;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #555;
  position: relative;
  cursor: pointer;
  transition: background-color 0.2s;
}

.geojson-toggle input[type="checkbox"]:checked {
  background-color: #00eeffd6;
}

.basemap-toggle input[type="radio"]:checked {
  background-color: #32f898;
}

.basemap-toggle input[type="radio"]:after,
.geojson-toggle input[type="checkbox"]:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  opacity: 0;
  transition: opacity 0.2s;
}

.basemap-toggle input[type="radio"]:checked:after,
.geojson-toggle input[type="checkbox"]:checked:after {
  opacity: 1;
}

.geojson-toggles button{

  background-color: rgba(0, 216, 235, 0.811);
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.ButtonRefreshMap{
  font-weight: bold;
  font-size: 15px;
  background-color: rgba(0, 216, 235, 0.756);
  border-radius: 5px;
}
.ButtonRefreshMap:hover {
  background-color: rgb(0, 202, 221);
}