.homecover-container {
    background: url('../images/HikingHome.png') center center/cover no-repeat;
    height: 89vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
  }
  
  .homecover-container > h1 {
    color: #fff;
    font-size: 100px;
    margin-top: -180px;
  }
  
  .homecover-container > p {
    margin-top: 10px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }

  /* Home.css */

.home-container {
  padding: 20px;
}

.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #272727;
  padding: 20px;
  font-weight: bold;
  font-size: 20px;
}
.filter-container select:nth-child(even) {
  display: block;
  padding: 10px;
  font-size: 17px;
  border-radius: 8px; /* Similar border-radius to the table */
  background-color: #8b8b8bd3; /* Similar background color to the table */
  color: #ffffff; /* Similar text color to the table */
  outline: none; /* Remove default focus outline */
  cursor: pointer;
}

.filter-container select:focus {
  background-color: #717171d7; /* Darker background color on hover */
}
.filter-container select:focus {
  background-color: #717171d7; /* Darker background color on hover */
}