/* Styles for the container holding the table */
.tablecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-top: 20px;
  background-color: #272727; /* Dark background color */
  flex-direction: column;
}

/* Style for the message container */
.message-container {
  color: white; /* White text color */
  margin-top: 20px; /* Add buffer */
}

/* Style for the scrollable table container */
.scrollable-table {
  max-height: 350px; /* Adjust the maximum height as needed */
  overflow-y: auto;
  position: relative; /* Needed for positioning the header */
  border-radius: 10px; /* Add border-radius for rounded edges */
}

/* Style for the table */
.styled-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #777777;
  border: 1px solid rgb(167, 167, 167);
  border-radius: 10px;
  font-size: 17px; /* Add your desired font size here */
}

/* Style for the table header */
.styled-table th {
  position: sticky;
  top: 0;
  background-color: rgb(88, 88, 88); /* White background color */
  color: #fefff0; /* Dark text color */
  padding: 15px;
  text-align: center;
  z-index: 1;
  border: 2px solid rgb(167, 167, 167);
  font-size: 17px; /* Add your desired font size here */
}

/* Style for the table body */
.styled-table tbody tr {
  height: 50px; /* Adjust the row height as needed */
}

.styled-table tbody tr:nth-child(even) {
  background-color: #6a6a6a;
  border: 1px solid rgb(164, 164, 164);
}

/* Hover effect on table rows*/
.styled-table tbody tr:hover {
  background-color: rgba(0, 255, 255, 0.273);
}

/* Style for table data cells */
.styled-table td {
  padding: 5px;
  padding-left: 20px; /* Adjust padding as needed */
  padding-right: 20px; /* Adjust padding as needed */
  color: #ffffff;
  text-align: center;
  border-left: 1px solid rgb(167, 167, 167);
  border-right: 1px solid rgb(167, 167, 167);
}

/* Style for the scrollbar */
.scrollable-table::-webkit-scrollbar {
  width: 13px; /* Width of the scrollbar */
}

/* Style for the scrollbar thumb */
.scrollable-table::-webkit-scrollbar-thumb {
  background-color: #ffffffb7; /* Darker color for the thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

/* Style for the scrollbar track */
.scrollable-table::-webkit-scrollbar-track {
  background-color: #494949;
}

/* Add this CSS to your existing stylesheet or create a new one */

.download-btn {
  background-color: rgba(0, 216, 235, 0.756); /* Green */
  color: white;
  border: none;
  padding: 13px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 30px 10px;
  cursor: pointer;
  border-radius: 15px;
}

.download-btn:hover {
  background-color: rgb(0, 202, 221); /* Lighter green on hover */
}
