.graph-container-dark {
  padding: 20px;
  background-color: #272727; /* Dark background */
  color: #fff; /* White text for high contrast */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.graph-container-dark .graph-title-dark {
  font-size: 20px;
  margin-bottom: 10px;
  color: #fff; /* White text for title */
}

.graph-container-dark .rv-xy-plot__axis__title {
  fill: #fff; /* White text for axis titles */
}

.graph-container-dark .rv-xy-plot__axis__tick__text {
  fill: #fff; /* White text for axis tick labels */
}

.react-vis-xy-plot-dark {
  margin-top: 10px;
  stroke: rgba(255, 255, 255, 0.2); /* Lighter grid lines */
  fill: false;
}



  